<div>
  <b>Trigger a solenoid:</b>
  <div>
    {% for solenoid in solenoids %}
    <input type="radio" id="{{ solenoid.name }}" name="select_solenoid" value="{{ solenoid.name }}">
    <label for="{{ solenoid.name }}">{{ solenoid.value }}</label><br>
    {% endfor %}

    <button onclick="TriggerSolenoid()">Submit</button>
    <p id="job-result">Result: 'N/A'</p>
  </div>
</div>

<div>
  <textarea id="status" cols="80" rows="2"></textarea>
</div>

<div>
  <img src='/camera?ms=0' id='video-feed'/>
</div>

<script>
  function refreshCam() {
      var myImg = document.getElementById('video-feed');
      myImg.src = '/camera?ms=' + 5000 + '&t=' + Date.now();
  }
  refreshCam();
  setInterval(refreshCam, 5000);


  function refreshStatus() {
      var request = new XMLHttpRequest();
      request.open('GET', '/api/solenoid');
      request.send();

      request.onload = async function () {
          var data = JSON.parse(this.response);
          document.getElementById('status').value = this.response
      }
  }
  refreshStatus();
  setInterval(refreshStatus, 1000)

  function TriggerSolenoid() {
      id = document.querySelector('input[name="select_solenoid"]:checked').value;

      var request = new XMLHttpRequest();
      request.open('POST', '/api/solenoid?id=' + id);
      request.send();

      request.onload = async function () {
          var data = JSON.parse(this.response);
          if(data.queued)
              document.getElementById('job-result').innerHTML = 'Result: Successfully queued';
          else
              document.getElementById('job-result').innerHTML = 'Result: Another job is already running';
      }
  }

</script>
